ISC2024-Front/EAFIT-ISC2024-Front.aux
ISC2024-Front/EAFIT-ISC2024-Front.log
ISC2024-Front/EAFIT-ISC2024-Front.fls
ISC2024-Front/EAFIT-ISC2024-Front.pdf
ISC2024-Front/EAFIT-ISC2024-Front.fdb_latexmk
ISC2024-Front/EAFIT-ISC2024-Front.out
ISC2024-Front/EAFIT-ISC2024-Front.synctex.gz


ISC2024-Proposal/EAFIT-ISC2024-Proposal.aux
ISC2024-Proposal/EAFIT-ISC2024-Proposal.log
ISC2024-Proposal/EAFIT-ISC2024-Proposal.fls
ISC2024-Proposal/EAFIT-ISC2024-Proposal.pdf
ISC2024-Proposal/EAFIT-ISC2024-Proposal.fdb_latexmk
ISC2024-Proposal/EAFIT-ISC2024-Proposal.out
ISC2024-Proposal/EAFIT-ISC2024-Proposal.synctex.gz
ISC2024-Proposal/EAFIT-ISC2024-Proposal.synctex.gz
